@font-face
{
  font-family: pieces;
  src: url(../font/pieces_of_eight.ttf);
  font-weight:400;
}


@-webkit-keyframes leftEyeAnim
{
  50%
  {
    -webkit-transform: rotate(180deg) translate(-50px);
  }
}

@-webkit-keyframes rightEyeAnim
{
  50%
  {
    -webkit-transform: rotate(180deg) translate(-50px);
  }
}

body
{
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-family: pieces;
  color: white;
  overflow: visible;
}

.wrap
{
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  height: 568px;
  width: 320px;
  overflow: hidden;
  /*background-color: #f9c029;*/
  background-color: #000;
  z-index: -2;
}

.container
{
  z-index: 10;
  top: 30px;
  position: absolute;
  margin: 0 auto;
  width: 320px;
}

#time
{
  width:100%;
  text-align: center;
  z-index: 50;
  color: white;
  text-shadow: 0px 3px 1px black;
  font-size: 50pt;
  word-spacing: 0px;
}

#date
{
  width:100%;
  text-align: center;
  z-index: 50;
  color: white;
  text-shadow: 0px 3px 1px black;
  font-size: 25pt;
  word-spacing: 0px;
}

.ampm
{
  font-size: 35pt;
}

button.sound
{
  position: absolute;
  left:50%;
}


.active .lefteye
{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  float:left;
  -webkit-animation: leftEyeAnim 10s ease-in-out infinite;
}

.active .righteye
{
  width: 100px;
  height: 100px;
  margin-right: 50px;
  border-radius: 100%;
  float:right;
  -webkit-animation: rightEyeAnim 10s ease-in-out infinite;
}

.eyes
{

  position: absolute;
  width: 320px;
  margin-top: 220px;
}

.eye
{
  background-color: white;
  z-index:0;
}

.character
{
  position: absolute;
  z-index: 5;
  zoom: 50%;
  height: 100%;
  width: 100%;
}

.jake.active
{
  background: url("../images/jake.png") no-repeat;
}

.BMO.active
{
  background: #58585A url("../images/bmo.png") no-repeat center 300px;
  .face
  {
    z-index: 6;
    height:100%;
    &.blink
    {
      background: url("../images/bmo_blink.png") no-repeat center 450px;
    }
    &.sadface
    {
      background: url("../images/bmo_sadface.png") no-repeat center 450px;
    }
    &.happyface
    {
      background: url("../images/bmo_happyface.png") no-repeat center 450px;
    }
    &.animated
    {
      // @todo: animate
    }
  }
}

.zzz-container.active
{
  padding-top: 80px;
  color: black;
  display: block;
  position: relative;
  float: right;
  width: 85px;
  height: 150px;
  z-index: 10;
}

.zzz-container .zzz
{
  right: -20px;
  top: -5px;
  width: 80px;
  height: 80px;
}

.zzz b
{
  position: absolute;
  width: auto;
  height: auto;
  left: 18px;
  bottom: 20px;
  top: auto;
  font-size: 20px;
  opacity: .7;
  font-weight: 400;
}

.zzz b:first-child
{
  left: 0;
  bottom: 0;
}

.zzz b:last-child
{
  left: 42px;
  bottom: 40px;
}

.zzz b:first-child
{
  -webkit-animation: zzz1 3s infinite;
}

.zzz b
{
  -webkit-animation: zzz2 3s infinite;
}

.zzz b:last-child
{
  -webkit-animation: zzz3 3s infinite;
}

$zzzMultiplier: 1.5;

@-webkit-keyframes zzz1
{
  0%
  {
    bottom: 0;
    opacity: 0;
    font-size: $zzzMultiplier * 12px;
  }

  25%
  {
    opacity: .7;
  }

  80%
  {
    bottom: 15px;
    font-size: $zzzMultiplier * 25px;
    opacity: 0;
  }

  100%
  {
    bottom: 0;
    opacity: 0;
  };
}

@-webkit-keyframes zzz2
{
  0%
  {
    opacity: 0;
  }

  10%
  {
    bottom: 15px;
    opacity: 0;
    font-size: $zzzMultiplier * 18px;
  }

  40%
  {
    opacity: .7;
  }

  90%
  {
    bottom: 40px;
    font-size: $zzzMultiplier * 35px;
    opacity: 0;
  }

  100%
  {
    bottom: 0;
    opacity: 0;
  };
}

@-webkit-keyframes zzz3
{
  0%
  {
    opacity: 0;
  }

  15%
  {
    bottom: 30px;
    opacity: 0;
    font-size: $zzzMultiplier * 20px;
  }

  50%
  {
    opacity: .7;
  }

  100%
  {
    bottom: 70px;
    font-size: $zzzMultiplier * 45px;
    opacity: 0;
  };
}